.logo-image {
    width: 180px;
}

.right-arrow {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.restaurant-bg-color {
    background-color: #0F0F0F; 
}

.restaurant-border-none {
    border: none !important;
}

.restaurant-card-width {
    width: 70% !important;
}